<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>DIGITIZE</title>


  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <!-- <div class="masthead clearfix">
            <div class="inner">
             <h3 class="masthead-brand">Cover</h3>
             <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
            </div>
          </div>-->

          <div class="inner cover">
            <h1 class="cover-heading mt-4" style="color:#000">Bank of India</h1>
            <p class="lead"><span style="color:#004d7f; font-size:32px;">D I G </span><span style="color:#73fDEA; font-size:32px;">I T</span><span style="color:#004d7f; font-size:32px;"> I Z E</span></p>
            <p class="lead" style="color:#000; padding-left:40px; font-size:14px; font: Helvetica" align="left">REVIEW INFORMATION</p>
           <div style="text-align:center; ">
     
  <span class="dot done" ></span>
  <span class="line done" ></span>
  <span class="dot done "></span>
  <span class="line done"></span>
  <span class="dot done"></span>
  <span class="line notdone"></span>
  <span class="dot notdone"></span>
</div>
            
            <p class="lead" style="color:#889F60; padding-left:40px; font-size:14px" align="left"><strong>SAVINGS ACCOUNT   >  JOHN DOE</strong></p>
            
            <div align="" class="" style=" border-radius:10px; display: flex;justify-content: center; margin-bottom:5px">
               
               
               <table border="1"  style=" align-self: center;" width="100%">
                <tr valign="middle">
               <td width="30%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; font-size:13px " align="left"  >Name</p></td>
                <td width="70%" ><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; padding-left:20px; font-size:13px " align="left"  ><input type="text" id="ip1"/></p></td>
               </tr>
               <tr valign="middle">
               <td width="30%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; font-size:13px " align="left"  >Street 1</p></td>
                <td width="70%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; padding-left:20px;font-size:13px " align="left"  ><input type="text" id="ip1"/></p></td>
               </tr>
               <tr valign="middle">
               <td width="30%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; font-size:13px " align="left"  >City</p></td>
                <td width="70%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; padding-left:20px; font-size:13px " align="left"  ><input type="text" id="ip1"/></p></td>
               </tr>
               <tr valign="middle">
               <td width="30%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; font-size:13px " align="left"  >State</p></td>
                <td width="70%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; font-size:13px; padding-left:20px; " align="left"  ><input type="text" id="ip1"/></p></td>
               </tr>
               <tr valign="middle">
               <td width="30%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; font-size:13px " align="left"  >Mobile Number</p></td>
                <td width="70%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; font-size:13px; padding-left:20px; " align="left"  ><input type="text" id="ip1"/></p></td>
               </tr>
               <tr valign="middle">
               <td width="30%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; font-size:13px " align="left"  >Fathers Name</p></td>
                <td width="70%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; font-size:13px; padding-left:20px; " align="left"  ><input type="text" id="ip1"/></p></td>
               </tr>
               <tr valign="middle">
               <td width="30%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; font-size:13px " align="left"  >Branch</p></td>
                <td width="70%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; font-size:13px; padding-left:20px; " align="left"  ><input type="text" id="ip1"/></p></td>
               </tr>
               <tr valign="middle">
               <td width="30%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; font-size:13px " align="left"  >Application Date</p></td>
                <td width="70%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; font-size:13px; padding-left:20px; " align="left"  ><input type="text" id="ip1"/><i class="fa fa-calendar-check-o " style="font-size:18px" aria-hidden="true"></i></p></td>
               </tr>
               <tr valign="middle">
               <td width="30%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; font-size:13px " align="left"  >Customer ID</p></td>
                <td width="70%"><p class="lead" style="color:#000; padding-top:1px; padding-left:5px; font-size:13px; padding-left:20px; " align="left"  ><input type="text" id="ip1"/></p></td>
               </tr>
               
               
               
               
               
               
               
               </table>
               
               
                </div>
                
                
                
             
            <div align="center" class="">
         
           
                
             
             <table  border="0" width="100%" class="mt-3" align="center">
                <tr><td>
            <a href="#" class="btn btn-lg btn-secondary" style="width:80px; background-color:#C0C0C0; color:#FFF; font-stretch:normal; font-weight:400; height:20px; padding-top:15px; padding-bottom:30px; padding-left:15px; font-size:14px; text-align:center;  box-shadow: 0px 0px 1px 1px #E9E9E9;">BACK</a>
             </td>
             <td >
            <a href="#" class="btn btn-lg btn-secondary" style="width:80px; background-color:#FF7E79; color:#FFF; font-stretch:normal; font-weight:400; height:20px; padding-top:15px; padding-bottom:30px; padding-left:15px; font-size:14px; text-align:center;  box-shadow: 0px 0px 1px 1px #E9E9E9;">CANCEL </a>
             </td>
            <td >
            <a href="#" class="btn btn-lg btn-secondary" style="width:80px; background-color:#EBEBEB; color:#000; font-stretch:normal; font-weight:400; height:20px; padding-top:15px; padding-bottom:30px; padding-left:15px; font-size:14px; text-align:center;  box-shadow: 0px 0px 1px 1px #E9E9E9; ">EXIT</a>
             </td>
             <td >
            <a href="#" class="btn btn-lg btn-secondary" style="width:80px; background-color:#00A2FF; color:#FFF; font-stretch:normal; font-weight:400; height:20px; padding-top:15px;  padding-bottom:30px; padding-left:15px; font-size:14px; text-align:center; box-shadow: 0px 0px 1px 1px #E9E9E9;">NEXT</a>
             </td></tr></table>
             
             
                </div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p></p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    
  </body>
</html>
