<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>DIGITIZE</title>
    
    <script>
      jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
          window.location = $(this).data("href");
        });
      });
    </script>
    
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <!-- <div class="masthead clearfix">
            <div class="inner">
             <h3 class="masthead-brand">Cover</h3>
             <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
            </div>
          </div>-->

          <div class="inner cover">
            <h1 class="cover-heading mt-4" style="color:#000">Bank of India</h1>
            <p class="lead"><span style="color:#004d7f; font-size:32px;">D I G </span><span style="color:#73fDEA; font-size:32px;">I T</span><span style="color:#004d7f; font-size:32px;"> I Z E</span></p>
            
            <form #postForm="ngForm" (ngSubmit)="searchApplicant(postForm.value)" >

            <p class="lead mt-5">
            <a href="/select-process" class="btn btn-lg btn-secondary" style="border: none; width:270px; background-color:#0076BA; color:#FFF; font-stretch:normal; font-weight:bold; height:100px; padding-top:25px">&nbsp;S T A R T&nbsp;&nbsp;&nbsp;N E W <br> A P P L I C A T I O N</a>
             
            </p>
            <div align="center" class="mt-4" ng-app>
              

                <input type="text" id="cstName" name="cstName" required ngModel placeholder="Applicant Name" style="text-indent: 5px;" value="" />&nbsp;
                <input type="submit" class="btn-primary"  value="Search"/>
                
              
                
    
              
                <ng-container *ngIf="loadedCustomers.length >= 1" >
                <table border="0" align="center" style="margin-top:40px;font-size:12px; color:#000" cellpadding="5px" cellspacing="5px" width="100%" > 
                <tr>
                <td colspan="4" align="left" style="color:#9299AE; font-family: 'Times New Roman', Times, serif"><strong>{{loadedCustomers.length}} results match</strong></td>
                </tr>
                <ng-container *ngIf="errorRes2" >
                  <tr align="left"> 
                  <td colspan="4" style="text-align: center">{{ errorRes2 }}</td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="loadedCustomers.length >= 1" >
                <ng-container *ngFor="let customers of loadedCustomers">
                
                <tr align="left" (click) = "onClickCustomer(customers.acctId)">
                <input type="hidden" id="acctId" name="acctId" value="{{ customers.acctId }}" />
                <td>{{ customers.name }}</td>
                <td>{{ customers.actName }}</td>
                <td>{{ customers.complete }}</td>
                <td>{{ customers.lstAccessed }}</td>
                </tr>
                
                </ng-container>
                </ng-container>
              </table>
              </ng-container>

                
            
              <table border="0" align="center" style="margin-top:40px;font-size:12px; color:#000" cellpadding="5px" cellspacing="5px" width="100%" > 
                <tr>
                <td colspan="4" align="left" style="color:#9299AE"><strong>R E C E N T</strong></td>
                </tr>
                <ng-container *ngIf="recentCustomers.length < 1" >
                <tr align="left"> 
                <td colspan="4" style="text-align: center">NO DATA AVAILABLE</td>
                </tr>
                </ng-container>
                <ng-container *ngIf="errorRes1" >
                  <tr align="left"> 
                  <td colspan="4" style="text-align: center">{{ errorRes1 }}</td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="recentCustomers.length >= 1" >
                <ng-container *ngFor="let details of recentCustomers">
                <tr align="left" (click) = "onClickCustomer(details.acctId)">
                <input type="hidden" id="acctId" name="acctId" value="{{ details.acctId }}" />
                <td>{{ details.name }}</td>
                <td>{{ details.actName }}</td>
                <td>{{ details.complete }}</td>
                <td>{{ details.lstAccessed }}</td>
                </tr>
                </ng-container>
                </ng-container>
                
              </table>
            </div>
            </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p></p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    
  </body>
</html>

